<div class="container">
  <ul class="listDiv">
    <li class="mb-4 mt-5" *ngFor="let user of users; let questionIndex = index">
      <span class="font-weight-bold mr-1">{{questionIndex + 1}}.</span>
      <span class="font-weight-bold mr-5 mb-2 d-inline-block">Name: {{user.name}}</span>
      <span class="font-weight-bold mb-2 d-inline-block">Email Id: {{user.email}}</span>

      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Test Id</th>
          <th>Marks Obtained</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of user.userTest">
          <td>{{test.testId}}</td>
          <td>{{test.obtainedMarks}}</td>
          <td>{{test.totalMarks}}</td>
        </tr>

        </tbody>
      </table>
    </li>
  </ul>
</div>
